{{!-- Utilizamos un partial para el diseño de las cards del home --}}

<div class="container">

        {{#each payload}}
            <div id="{{this.id}}" class="card">
                <h3>Title: {{this.title}}</h3>
                <p>Description: {{this.description}}</p>
                <p>Category: {{this.category}}</p>
                <p>Price: {{this.price}}</p>
                <div>
                    <img src="{{this.thumbnails}}" alt="{{this.title}}">
                </div>
                <button class="btn">Add to cart</button>
            </div>
            
        {{/each}}
</div>